.diff_addition {
	color: #00EF00;
	background-color: rgba(0, 255, 0, 0.125);
}
.diff_addition::selection,      .diff_addition *::selection      { background-color: #00DF00; }
.diff_addition::-moz-selection, .diff_addition *::-moz-selection { background-color: #00DF00; }

.diff_deletion {
	color: #EF0000;
	background-color: rgba(255, 0, 0, 0.125);
}
.diff_deletion::selection,      .diff_deletion *::selection      { background-color: #DF0000; }
.diff_deletion::-moz-selection, .diff_deletion *::-moz-selection { background-color: #DF0000; }

.diff_change {
	color: #EFEF00;
	background-color: rgba(255, 255, 0, 0.125);
}
.diff_change::selection,      .diff_change *::selection      { background-color: #DFDF00; }
.diff_change::-moz-selection, .diff_change *::-moz-selection { background-color: #DFDF00; }
