@import url("https://mfederczuk.github.io/darkpage/v1.min.css");
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap');

html { font-family: 'Ubuntu', sans-serif; }
code { font-family: 'Ubuntu Mono', monospace; }

/* === header =============================================================== */

h1 { text-align: center; }

#version-links_container { text-align: center; }
#version-links_text      { font-size: 1.2em;   }
#version-links_current   { font-weight: bold;  }

/* === main ================================================================= */

#release-date_container { text-align: center; }
#release-date_text      { font-style: italic; }

.proper-name { font-weight: bold; }

.message { letter-spacing: 1px; }
.message_control { font-weight: bold; }
.message_placeholder {
	font-style: italic;
	text-decoration: underline;
}
.message_special-placeholder {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

/* TODO exit status table */

/* === footer =============================================================== */

footer { text-align: center; }
