@import url("https://mfederczuk.github.io/darkpage/v1.min.css");
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap');

html { font-family: 'Ubuntu', sans-serif; }
code { font-family: 'Ubuntu Mono', monospace; }

/* === header =============================================================== */

h1 { text-align: center; }
