#version-links_container {
	font-size: 1.2em;
	text-align: center;
}
#version-links_current { font-weight: bold; }

#version-date_container { text-align: center; }
#version-date_text      { font-style: italic; }

.synopsis_placeholder { text-decoration: underline; }
.synopsis_controls { font-weight: bold; }

#footer {
	margin-top: 1em;
	text-align: center;
}
